
/* include this always in css probably */
* { 
  margin: 0; 
  padding: 0; 
 } 

 body {
  background: transparent; /* Make it white if you need */
  color: #fcbe24;
  padding: 0 24px;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* make it a flex parent container and then include both to be column items */
.parent-container {
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 50px;
  font-size: 30px;
  text-align: center;
}

#winning_conditions_met {
  color: red;
}

#button1 {
  padding: 50px;
}

#imageX1 {
  display: none;
  width: 50px;
  height: 50px;
  /* object-fit: contain; */
}

#imageO1 {
  display: none;
  width: 50px;
  height: 50px;
  /* object-fit: contain; */
}

#imageX2 {
  display: none;
  width: 50px;
  height: 50px;
}

#imageO2 {
  display: none;
  width: 50px;
  height: 50px;
}

#imageX3 {
  display: none;
  width: 50px;
  height: 50px;
}

#imageO3 {
  display: none;
  width: 50px;
  height: 50px;
}

#imageX4 {
  display: none;
  width: 50px;
  height: 50px;
}

#imageO4 {
  display: none;
  width: 50px;
  height: 50px;
}

#imageX5 {
  display: none;
  width: 50px;
  height: 50px;
}

#imageO5 {
  display: none;
  width: 50px;
  height: 50px;
}

#imageX6 {
  display: none;
  width: 50px;
  height: 50px;
}

#imageO6 {
  display: none;
  width: 50px;
  height: 50px;
}

#imageX7 {
  display: none;
  width: 50px;
  height: 50px;
}

#imageO7 {
  display: none;
  width: 50px;
  height: 50px;
}

#imageX8 {
  display: none;
  width: 50px;
  height: 50px;
}

#imageO8 {
  display: none;
  width: 50px;
  height: 50px;
}

#imageX9 {
  display: none;
  width: 50px;
  height: 50px;
}

#imageO9 {
  display: none;
  width: 50px;
  height: 50px;
}
/* .vl {
  border-left: 6px solid green;
  height: 500px;
  margin-left: 200px;
} */

/* .container {
  display: flex;
} */

/* 
a:link {text-decoration-line:none; color: rgb(119, 103, 239); font-size: 1.5rem; font-family: 'Overlock', Helvetica, sans-serif, sans-serif; font-style: italic; font-weight: 700;}
a:visited {text-decoration-line:none; color: rgb(119, 103, 239); font-size: 1.5rem; font-family: 'Overlock', Helvetica, sans-serif; font-style: italic; font-weight: 700;}
a:hover { color: black}
a:active { color: black} */